<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Appenders>
	<!-- fileName="C:\Users\manish.kumar14\Documents\Learning\ipl.log" -->
		 <RollingFile name="LogToFile" 
			fileName="C:\Users\manish.kumar14\Documents\Learning\ipl.log"
			filePattern="ipl.log-%d{yyyy-MM-dd}-%i"
			append="true">
			<PatternLayout>
				<!-- <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n </pattern> -->
 				<!-- <pattern> [%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%t]-[%-5p]-[%marker]: %m%n </pattern> -->
 				<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%t]-[%-5p] - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile> 
		<Async name="FileAsync">
			<AppenderRef ref="LogToFile"/>
		</Async> 
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%t]-[%-5p] - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- <Logger name="com.manish.ipl" level="debug" >
			<AppenderRef ref="LogToFile" />
		</Logger> -->
		<Root level="info">
			<AppenderRef ref="LogToConsole" />
			<AppenderRef ref="LogToFile"/>
		</Root>
	</Loggers>
</Configuration>